<div id="dash">
  <div id="shift-lights">
    <div class="green-off led" [ngClass]="{'green' : rpmLightArray && rpm >= rpmLightArray[0], 'led-blink' : limiter}"></div>
    <div class="green-off led" [ngClass]="{'green' : rpmLightArray && rpm >= rpmLightArray[1], 'led-blink' : limiter}"></div>
    <div class="green-off led" [ngClass]="{'green' : rpmLightArray && rpm >= rpmLightArray[2], 'led-blink' : limiter}"></div>
    <div class="green-off led" [ngClass]="{'green' : rpmLightArray && rpm >= rpmLightArray[3], 'led-blink' : limiter}"></div>
    <div class="green-off led" [ngClass]="{'green' : rpmLightArray && rpm >= rpmLightArray[4], 'led-blink' : limiter}"></div>
    <div class="orange-off led" [ngClass]="{'orange' : rpmLightArray && rpm >= rpmLightArray[5], 'led-blink' : limiter}"></div>
    <div class="orange-off led" [ngClass]="{'orange' : rpmLightArray && rpm >= rpmLightArray[6], 'led-blink' : limiter}"></div>
    <div class="orange-off led" [ngClass]="{'orange' : rpmLightArray && rpm >= rpmLightArray[7], 'led-blink' : limiter}"></div>
    <div class="red-off led" [ngClass]="{'red' : rpmLightArray && rpm >= rpmLightArray[8], 'led-blink' : limiter}"></div>
    <div class="red-off led" [ngClass]="{'red' : rpmLightArray && rpm >= rpmLightArray[9], 'led-blink' : limiter}"></div>
  </div>

  <div id="soc-meter">
    <div id="soc-bar"
      [ngStyle]="{'max-height': soc + '%'}"></div>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>

  <div id="cluster">
    <div id="top-section">
      <div id="soc"><span>SoC</span> <h1>{{soc}}</h1></div>
      <div id="gear"> <h1>{{gear}}</h1></div>
      <div id="deploy"><span>Deploy</span> <h1>{{deploy}}</h1></div>
    </div>
    <div id="bottom-section">      
      <div id="bot-box-1"><span>Delta</span> <h2>{{deltaToSesBest}}</h2></div>
      <div id="bot-box-2"><span>Fuel est laps</span> <h2>{{fuelLapsRemaining.toFixed(2)}}</h2></div>

      <div class="hor-line">
      </div>

      <div id="bot-box-3"><span>Deploy Mode</span> <h2>{{deployMode}}</h2></div>
      <div id="bot-box-4"><span>Fuel (L) / Fuel per lap (L)</span> <h2>{{fuelRemaining}} / {{fuelPerLap}}</h2></div>

      <div class="hor-line">
      </div>

      <div id="bot-box-5"><span>Track Temp</span> <h2>{{trackTemp}}°C</h2></div>
      <div id="bot-box-6"><span>Time Left</span> <h2>{{timeLeft}}</h2></div>
      <div [ngClass]="{'show-flag': flags.indexOf('Blue') > -1}" id="blue-flag"><div class="line"></div></div>
      <div [ngClass]="{'show-flag': flags.indexOf('YellowWaving') > -1}" id="yellow-flag"></div>
      <div [ngClass]="{'show-flag': boxboxbox || fuelLapsRemaining < 1.1}" id="box-box-box"><h1>BOX THIS LAP <br/> {{fuelRemaining}} <small>L</small></h1></div>

      <div [ngClass]="{'show-flag': carLR.indexOf('LRCarLeft') > -1}" class="car-lr" id="car-left"> <h1>&#8592;</h1> </div>
      <div [ngClass]="{'show-flag': carLR.indexOf('LRCarRight') > -1}" class="car-lr" id="car-right"> <h1>&#8594;</h1> </div>
      <div [ngClass]="{'show-flag': carLR.indexOf('LRCarLeftRight') > -1}" class="car-lr show-flag" id="car-three"> <h1 class="double">&#8592; &#8594;</h1> </div>
      <div [ngClass]="{'show-flag': carLR.indexOf('LR2CarsLeft') > -1}" class="car-lr" id="car-2-left"> <h1 class="double">&#8592; &#8592;</h1> </div>
      <div [ngClass]="{'show-flag': carLR.indexOf('LR2CarsRight') > -1}" class="car-lr" id="car-2-right"> <h1 class="double">&#8594; &#8594;</h1> </div>
      <!-- <div class="car-lr show-flag" id="car-2-right"> <h1>&#8594;</h1> </div> -->
    </div>
  </div>

  <div id="deploy-meter">
    <div id="deploy-bar"
      [ngStyle]="{'max-height': deploy + '%'}"></div>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>
